/*-- standard resets-*/
html {
  padding: 0;
  margin: 0;
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0; }
  html h1 {
    font: 30px "Abril Fatface", cursive;
    color: #2d2d2d;
    text-align: center;
    margin-bottom: 30px; }
  html p {
    margin: 0;
    padding: 0; }
  html a {
    text-decoration: none; }
  html img {
    border: none; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    margin: 0;
    padding: 0;
    font-weight: 400; }
  html strong {
    font-weight: bold; }
  html em {
    font-style: italic; }
  html form, html menu, html iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: none; }
  html ol, html ul, html dl, html li, html dt, html dd {
    margin: 0;
    padding: 0;
    list-style: none; }
  html table {
    width: 100%;
    border-collapse: collapse; }
  html * {
    outline: none;
    font-family: 'Open Sans', sans-serif; }
  main{
    overflow: hidden;
  }

/*-- standard resets-*/

.full-hidden {
  display: none; }

.secureicon li {
  display: inline-block;
  margin: 0 2px; }

.last .head_bg {
  padding-bottom: 15px; }

.frends_list {
  background: #e2e2e2; }

.foot .head_bg {
  padding-bottom: 15px; }

.foot .formdiv {
  margin-top: 40px; }

form {
  background: transparent; }
form .head_bg {
  background: #00a294;
  padding-top: 5px; }
form .head_bg.sec_step {
  padding-top: 30px; }
form .foot_bg {
  background: #eafaff; }
form .head_form {
  padding: 20px 15px; }
form .head_form p {
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }
form .head_form p b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 400; }
form .head_form p span {
  color: #ffea3a;
  font-size: 25px;
  line-height: 26px;
  font-weight: 700; }
form .head_form p span em {
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  text-decoration: line-through;
  color: #fff; }
form .list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  margin-bottom: 25px; }
form .list li {
  padding-right: 20px;
  width: 25%; }
form .list li label {
  display: block;
  margin-bottom: 0;
  position: relative; }
form .list li label:before {
  content: '';
  left: 14px;
  bottom: 50%;
  position: absolute; }
form .list li label textarea {
  width: 100%;
  resize: none; }
form .list li label textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px; }
form .list li label textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px; }
form .list li label textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px; }
form .list li label textarea:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px; }
form .list li label input {
  width: 100%;
  text-indent: 35px;
  height: 52px; }
form .list li label input ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  line-height: 52px;
  color: #ff1818; }
form .list li label input ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  line-height: 52px;
  color: #ff1818; }
form .list li label input :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  line-height: 52px;
  color: #ff1818; }
form .list li label input :-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  line-height: 52px;
  color: #ff1818; }
form .list li label.selec-image {
  margin-bottom: 0 !important; }
form .list.next_step {
  width: 75%;
  margin-bottom: 0; }
form .list.next_step li {
  width: 33.3%; }
form .list.next_step li label {
  margin-bottom: 20px; }
form .list.next_step li .nice-select {
  width: 100%;
  height: 52px;
  border-color: transparent;
  border-radius: 0;
  line-height: 27px; }
form .list.next_step li .nice-select span.current {
  display: inline-block; }
form .list.next_step li .nice-select .list {
  display: block;
  flex-direction: column;
  width: 100%;
  border-radius: 0;
  border: 1px solid #ebfaff; }
form .list.next_step li .nice-select .list li {
  width: 100%; }
form .pagination {
  justify-content: center;
  margin-bottom: 8px;}
form .pagination span {
  border: 2px solid #fff;
  background: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px; }
form .pagination span.active {
  background: #fff; }
form .pagination span:first-child {
  margin-left: -13px; }
form .footer_form {
  display: flex;
  padding: 18px 15px 18px;
  align-items: center; }
form .footer_form .list-fr-nds {
  margin-right: 30px; }
form .footer_form .list-fr-nds ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
form .footer_form .list-fr-nds ul li {
  margin-right: 10px; }
form .footer_form input {
  width: 100%; }
form .footer_form button {
  color: #fff;
  background-image: linear-gradient(45deg, #ee313c, #ff7531);
  padding: 10px 10px;
  border: none;
  display: block;
  text-align: center;
  font-weight: 700;
  cursor: pointer; }
form .footer_form button b {
  font-size: 22px;
  line-height: 25px;
  font-weight: 500; }
form .footer_form button span {
  font-size: 14px;
  line-height: 20px; }
form .footer_form button:hover {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-image: linear-gradient(45deg, #ff7531, #ee313c);
  color: #fff; }
form .form_body {
  padding-top: 28px; }
form .flex-block {
  display: flex; }
form .flex-block .text-area {
  width: 25%; }
form .flex-block .text-area label {
  display: block;
  padding-right: 20px;
  position: relative; }
form .flex-block .text-area label:before {
  content: '';
  width: 12px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 15px; }
form .flex-block .text-area label textarea {
  min-height: 125px;
  width: 100%;
  padding-left: 40px;
  padding-top: 10px; }
form .flex-block .text-area label textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px; }
form .flex-block .text-area label textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px; }
form .flex-block .text-area label textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px; }
form .flex-block .text-area label textarea:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px; }
form .checkbox {
  padding: 10px 5px; }
form .checkbox input {
  margin-right: 7px; }
form .checkbox ul {
  display: flex; }
form .checkbox h3 {
  font-size: 21px;
  line-height: 27px;
  margin-bottom: 10px;
  color: #fff; }
form .checkbox li {
  border: 1px solid #2d2d2d;
  width: 33.3%;
  margin-right: 20px; }
form .checkbox li .wrapper {
  padding: 15px 15px 10px 10px; }
form .checkbox li .wrapper input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
form .checkbox li .wrapper input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 26px;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  background: 0 0 no-repeat;
  /*background-position: 0 0;*/
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer; }
form .checkbox li .wrapper input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -16px; }
form .checkbox li .wrapper label.css-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
form .checkbox li .wrapper span.recomend {
  color: #fff;
  font-size: 13px;
  line-height: 14px;
  font-weight: 700;
  font-style: italic;
  padding: 0 5px 0 25px;
  position: relative;
  top: 8px; }
form .checkbox li .wrapper span.recomend:before {
  content: '';
  width: 11px;
  height: 11px;
  position: absolute;
  left: 6px; }
form .checkbox li .wrapper .top {
  line-height: 4px !important; }
form .checkbox li:last-child {
  margin-right: 0; }
form .sec2formbg {
  padding: 15px 0; }
form .security_box {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.secureicons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.secureicons img {
  display: block;
  margin: 0 5px;
}
.securesubmit{
  width: 50%;
  max-width: 350px;
  margin: 26px auto;
  font-size: 20px;
}
form .nice-select {
  width: 100%;
  height: 52px;
  border-radius: 0;
  line-height: 30px; }
form .nice-select span.current {
  line-height: 28px;
  display: inline-block; }
form .nice-select .list {
  display: block;
  flex-direction: column;
  width: 100%;
  border-radius: 0;
  border: 1px solid #ebfaff;
  max-height: 450px;
  overflow: auto;
}
form .nice-select .list li {
  width: 100%; }
form .privacy-step1 label {
  color: #fff; }

#brandloterms {
  background: #000 !important;
  color: #fff !important;
  text-align: center !important;
  padding: 10px 0; }
#brandloterms a {
  color: #fff !important; }

.formdiv {
  text-align: center; }

.formdiv .form-group {
  position: relative; }

.formdiv .form-group img {
  position: absolute;
  top: 7px;
  left: 11px;
  z-index: 1; }

.formdiv .form-control {
  line-height: 30px;
  height: 50px;
  padding: 0 9px 6px 37px;
  border-radius: 0;
  background-color: #ffffff;
  margin-bottom: 15px;
  color: #797979;
  font-size: 14px; }

.formdiv textarea.form-control {
  height: 99px;
  background: #f7fdff;
  padding: 6px 12px 6px 37px;
  color: #898989; }

.formdiv select.form-control {
  height: 42px;
  line-height: 42px;
  background: #f7fdff;
  padding: 6px 12px 6px 0;
  border-radius: 5px;
  color: #898989;
  text-indent: 37px; }

.stepsdiv {
  margin: 0 0 20px 0;
  text-align: center; }

.formdiv .step.active {
  opacity: 1;
  background: #fff; }

.formdiv .step {
  border: 2px solid #fff;
  background: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px; }

.textpink {
  color: #cc0000; }

.formboxtext {
  font-size: 20px;
  line-height: 26px;
  color: #262626;
  text-align: center;
  padding-bottom: 20px; }

.formdiv .gradintbtn span {
  font-size: 12px; }

.font13 {
  font-size: 13px; }

.font14 {
  font-size: 14px; }

.formdiv .tab {
  display: none; }

.formdiv .checkbox label, .formdiv .radio label {
  text-align: left; }

.attenzione {
  font-size: 20px;
  padding: 0 0 10px;
  color: #fff; }

.checkboxdiv {
  background: #f7fdff;
  padding: 2px 0 0 10px;
  border: solid 1px #ddd;
  font-weight: normal;
  text-align: left;
  height: 49px; }

.assistenza {
  position: relative;
  top: -5px; }

.formdiv .form-group img.imgr {
  left: 45px;
  top: 30px; }

.formdiv .form-group img.imgright {
  right: 8px;
  left: inherit;
  top: 7px; }

.formdiv .tab1 {
  display: none; }

.form-control-feedback {
  display: none; }

.formboxtext {
  color: #fff; }

.hidden {
  display: none; }

.spinner-container {
  display: none; }

.has-danger .form-control-feedback {
  display: block;
  color: #FFEB3B;
  margin-top: -15px; }


.button-wrapper {
  margin: 0 auto 20px;
}
.standard-button {
  background: #ff0041;

  background: linear-gradient(45deg, #da242a 0%,#e43339 44%,#ed4046 63%,#ff5a5f 88%,#ff5a5f 88%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da242a', endColorstr='#ff5a5f',GradientType=1 );
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  display: block;
  padding: 12px 22px;
  color: #fff;
  font-weight: 800;
  border: none;
  max-width: 340px;
  position: relative;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
}

  .standard-button b {
    display: block;
    text-align: center;
    font-size: 26px;
    line-height: 31px;
    color: #fff;
    text-transform: uppercase;
  }
  .standard-button span {
    color: #fff;
    font-size: 16px;
    line-height: 14px;
    font-weight: 900;
    text-align: center;
    display: block;
    text-transform: uppercase;
  }
  .standard-button:hover {

  background: #ff5a5f;

  background: linear-gradient(45deg, #ff5a5f 8%,#ff5a5f 8%,#ed4046 32%,#ff5a5f 49%,#ff5a5f 49%,#e43339 73%,#e43339 73%,#da242a 98%,#da242a 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a5f', endColorstr='#da242a',GradientType=1 );
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-decoration: none;
    color: #fff;
    cursor: pointer; }

.about-goods .container{

  box-shadow: 0 -4px 5px 1px rgba(0,0,0,0.2);
  }

.about-goods h2 {
  font-size: 30px;
  color: #000;
  display: block;
  font-family: 'Montserrat', cursive;
  margin: 20px;
  font-weight: 900;
  text-align: left;
}

.main-text {
  background-color: #feffe5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
}
.top-button {
  margin: 20px 25px;
}
.top-button .standard-button{
  padding: 10px 56px;
}

.prod-name {
  background: url(../images/or-stripe-1-left.png) 6% 50% no-repeat, url(../images/or-stripe-1-right.png) 94% 100% no-repeat;
  background-size: contain;
  margin: 10px auto;
  position: relative;
  width: 100%;
  padding: 20px 100px;
}

.prod-name h1{
  font-size: 36px;
  color: #fff;
  font-family: 'Montserrat', cursive;
  margin: 8px;
  font-weight: 900;
  text-align: center;
}
.prod-name p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prod-img {
  background-color: #00f0e1;
  width: 100%;
  height: 420px;
}
.prod-img h3 {
  color: #fff;
  font-weight: 800;
  font-size: 40px;
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  margin: 170px 0 0;
}
/*---------------- second section ------------------*/
.second-section {

}
.second-section .container {
  box-shadow: 0 -4px 5px 1px rgba(0,0,0,0.2);
  background-color: #fff;
}
.nice-prod h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000;
  max-width: 730px;
  display: block;
  font-family: 'Montserrat', cursive;
  font-weight: 900;
  margin: 24px auto;
  text-align: center;
  padding: 0 5px;
  letter-spacing: -1px;
}
.nice-prod img {
  margin: 24px auto;
  display: block;
}
.nice-prod p, .nice-prod-img p, .video p {
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 24px;
  line-height: 24px;
  padding: 0 3px;
}
.nice-prod strong, .nice-prod-img strong, .video strong {
  font-weight: bold;
  color: #a03838;
}
.nice-prod .standard-button {
  margin: 20px auto;
}
.nice-prod-img{
  width: 100%;
}
.nice-prod-img img {
  display: block;
  margin:   12px auto;
  border: 4px solid #00c4b7;
}
.video-block {
  margin: 20px auto;
}
#top_video {
  margin: 0 auto;
  display: block;
}
.video h2 {
  font-size: 30px;
  line-height: 25px;
  color: #000;
  max-width: 730px;
  display: block;
  font-family: 'Montserrat', cursive;
  font-weight: 900;
  margin: 32px auto 0;
  text-align: center;
  letter-spacing: -1px;
}
.stars {
  display: flex;
  flex-direction: column;
  margin: 55px 9px 27px;
}
.arr-text {
  padding: 12px 0 16px 74px;
  position: relative;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
 .arr-text::before {
  content: url(../images/star.svg);
  position: absolute;
  left: 0;
  top: 0;

}
 table {
   line-height: 12px;
   font-size: 14px;
 }
 .table {
   width: 100%;
   max-width: 100%;
   background-color: transparent;
   padding: 0;
   margin: 0 auto 1rem;
 }
 table tr {
   border-bottom: 1px solid #f0efef;
 }
 .table table td {
   font-weight: bold;
   padding: 10px 22px 0;
 }
 table img {
   display: block;
   margin: 0 auto;
 }
 .table-head {

 }
 .table-head th:nth-child(1) {
   background-color: #ffbc8a;
 }
.table-head th:nth-child(2) {
   background-color: #ffa867;
  text-align: center;
  padding: 16px;

 }
.table-head th:nth-child(3) {
   background-color: #ff953a;
  text-align: center;
  padding: 16px;
 }
.yellow-cell {
  background-color: #fefea6;
  border-bottom: 1px solid yellow;
}
.facts {
  background-color: #00c4b7;
  padding: 20px;
  margin: 17px -15px;
}
.facts h2 {
  font-size: 29px;
  line-height: 26px;
  color: #fff;
  max-width: 730px;
  display: block;
  font-family: 'Montserrat', cursive;
  font-weight: 900;
  margin: 6px auto;
  text-align: center;
}
.fact-container{
  display: flex;
  flex-direction: column;
}
.fact-box {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}
.fact-desc {
  padding: 21px;
  color: #fff;
  font-size: 20px;
}
.fact-desc h4 {
  font-size: 24px;
  font-weight: 800;
}
.facts .button-wrapper {
  margin: 34px auto 11px;
}

/*----------END second screen-----------------*/

/*------------third screen--------------------*/
.third-section .container {
  padding: 0 0 8px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  margin: 30px auto;
}
.orange-stripe {
  background-color: #ff7627;
  margin: 0;
  width: 100%;
  padding: 12px;
}
.orange-stripe h5 {
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-weight: 800;
}
.comments h3 {
  font-size: 30px;
  color: #000;
  display: block;
  font-family: 'Montserrat', cursive;
  margin: 20px 0 0;
  font-weight: 900;
  text-align: center;
  border-bottom: 1px solid #e6e5e5;
  padding-bottom: 20px;
}
.comments-container{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e5e5;
  margin: 20px 0;
}
.comments-box {
  display: flex;
  flex-direction: row;
  margin: 0px 9px;
  align-items: center;
  border-bottom: 1px solid #e8e7e7;
}
.last-box {
  border-bottom: none;
}
.comments-desc {
  padding: 16px 12px;
  color: #000;
  font-size: 19px;
  margin: 15px 5px 24px;
  line-height: 25px;
}
.comments-desc h4 {
  font-size: 22px;
  font-weight: 800;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  min-width: 150px;
}
.avatar img {
  width:100%;

}
.img-move {
  -webkit-animation: bagarrow 0.6s infinite alternate ease-in-out;
}
/*----------END third screen-----------------*/

/*start ***/
.mg-top{
  margin: 45px 0;
}
.circle-check:hover img{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.circle-check img{
  width: 187px;
  /*height: 187px;*/
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.circle-check h4{
  color: #fff;
  font-size: 18px;
  margin-top: 15px;
  font-weight: 900;
}
.circle-check h4::before{

}
/*end ***/






/*----------------------bonus-------------------*/
.bonus-section .container {
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  margin-top: 32px;
  padding: 0 0 16px;
}
.bonus-section  h3 {
  font-size: 30px;
  color: #000;
  display: block;
  font-family: 'Montserrat', cursive;
  font-weight: 900;
  text-align: center;
  border-bottom: 1px solid #e6e5e5;
  padding: 20px;
  letter-spacing: -1px;
}
.bonus-section .fact-container{
  display: flex;
  flex-direction: column;
}
.bonus-section .fact-box {
  display: flex;
  flex-direction: row;
  margin: 0 46px;
  align-items: center;
}
.last-box {
  border-bottom: none;
}
.bonus-section  .fact-desc {
  color: #000;
  font-size: 20px;
  margin: 8px 28px 1px;
  line-height: 28px;
}
.bonus-section  .fact-desc h4 {
  font-size: 22px;
  font-weight: 800;
}
.fact-img-wrap {
  min-width: 140px;
  display: flex;
  justify-content: center;
}

/*---------------------- END bonus--------------*/

/*---------------------- PS footer--------------*/
.footer {
  margin: 32px 0;
}
.footer .foo-wrap {
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
  padding: 0;
}
.footer h3 {
  font-size: 30px;
  color: #000;
  display: block;
  font-family: 'Montserrat', cursive;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #e6e5e5;
  padding: 20px;
}
.footer strong {
  font-weight: 900;
  font-family: "Montserrat",sans-serif;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 32px;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;

}
.price b {
  font-family: "Montserrat",sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-decoration: line-through;
}
.price .red {
  text-decoration: none;
  color:red;

}
.form-bot {
  padding-left: 0;
  padding-right: 0;
}
/*---------------------- END footer--------------*/

@-webkit-keyframes rightarrow {
  0% { -webkit-transform: translateX(0); opacity: 0.4 }
  100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
}
@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
@-webkit-keyframes bagarrow {
  0% { -webkit-transform: translateY(0);}
  100% { -webkit-transform: translateY(0.4em);}
}


@media only screen and (max-width: 1200px) {
  .bonus {
    flex-direction: column;
    align-items: center;
  }
  .bonus-content{
    text-align: center;
  }
  .bonus-content .standard-button{
    margin: auto;
  }
  .bonus-img{
    width: 100%;
    text-align: center;
  }
  .laptop {
    background: url(../images/laptop-small.png) top center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    height: auto;
  }
}

@media only screen and (max-width: 990px) {
  .tiles .device-title{
    font-size: 26px;
  }
  .prod-name {
    background: url(../images/or-stripe-1.png) 50% 50% no-repeat;
    background-size: contain;
    width: 100%;
    margin: 11px 20px;
    padding: 20px 100px;
  }
}






@media only screen and (max-width: 768px) {

  .standard-button {
    padding: 10px; }
  .standard-button span {
    font-size: 14px; }
  .about-goods h1 {
    font-size: 32px;}
  .about-goods h2 {
    text-align: center;
  }
.button-wrapper {
    padding: 0 0 35px; }
  /*.video {*/
    /*padding-bottom: 0; }*/
  /*.video .button-wrapper {*/
    /*margin-bottom: 15px; }*/
  /*.video .video-wrapper:before {*/
    /*display: none; }*/
  /*.video .video-wrapper:after {*/
    /*display: none; }*/
  .tiles .device-box {
    display: flex;
    flex-direction: column-reverse;
  }
  .reversed {
    flex-direction: column;
  }
  .first .feedback-box,
  .second .feedback-box{
    flex-direction: column;
  }
  .feedback-content {
    width: 100%;
    margin: 0;
  }
  .feedback-photo {
    width: 100%;
    z-index: 2;
  }
  .first, .second {
    width: 100%;
  }
  .tiles .device-title{
    width: 100%;
    text-align: center;
  }
  .tiles .device-img{
    width: 100%;
  }
  .tile-col{
    width: 100%;
  }
  .tile-img img{
    height: auto;
  }

  .bonus-img img{
    width: 100%;
  }
  .bonus-content{
    padding: 8px;
  }
}

@media(max-width: 1024px){
  .footer h3::after{
    top: 162px;
  }
}

@media(max-width: 767px){
  .main-text {
    flex-direction: column;
  }
  .prod-name {
    background: url(../images/or-stripe-2.png) 50% 50% no-repeat;
    background-size: contain;
    width: 100%;
    margin: 11px 20px;
    padding: 20px 100px;
  }
  form .security_box {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }

  .secureicons {
    width: 100%;
  }

  .secureicons img {
    margin: 5px 15px;
  }

  .securesubmit {
    width: 100%;
    max-width: 100%;
    background: #232323;
    padding: 15px;
  }

  .good-img {
    width: 55%;
    margin: 0 auto;
  }
  .comments .rate{
    position: initial;
    margin: 6px 0;
  }

  a.standard-button{
    display: block;
    margin: 10px auto;
  }
  .top-button::before{
    top: -74%;
  }

  br{
    display: none;
  }

  .money {
    right: 59%;
  }
  .third-section h2 {
    padding: 114px 8px 32px;
  }
  .cert-flyer {
    position: relative;
    margin: 0 auto;
    bottom: 0;
  }
  .cert-img {
    margin: 20px auto;
  }
  .bonus-stripe h3 {
    font-size: 29px;
    line-height: 32px;
    padding: 0;
  }
  .cert-button-box {
    margin: 66px 24px 0 0;
  }
  .cert-button-box::after {
    content: url(../images/red-arrow-reverse.svg);
    left: auto;
    transform: rotate(270deg);
    top: -43px;
    right: 62px;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
  }
  .cert-button-box::before {
    left: 77px;
    top: -43px;
    transform: rotate(90deg);
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
  }
}

@media(max-width: 500px) {
  .prod-name {
    background: url(../images/or-stripe-2.png) 50% 50% no-repeat;
    background-size: contain;
    width: 100%;
    margin: 0px 4px;
    padding: 0px 4px;
  }
  .about-goods .container{
    width: auto;
  }
  .about-goods h2 {
    margin: 10px 0 0;
  }
  .top-button {
    margin: 0 44px 6px;
    padding: 0;
  }
  .top-button .standard-button {
    padding: 10px 43px;
  }
  .orange-row {
    padding: 12px;
  }
  .prod-name p {
    line-height: 26px;
    margin: 0 6px;
  }
  .prod-img {
    width: 92%;
    height: auto;
    margin: 20px auto;
  }
  .prod-img h3 {
    font-size: 29px;
    margin: 80px 0;
  }
  .second-section .container {
    box-shadow: none;
  }
  .nice-prod h2 {
    max-width: 370px;
    margin: 0;
  }
  .nice-prod img {
    width:92%;
  }
  .button-wrapper {
    padding: 0;
  }
  .nice-prod-img img{
    width: 92%;
  }

  .main-text{
    padding: 4px;
  }
  .feedback-title {
    font-size: 32px;
  }
  .cert-flyer {
    width: auto;
    height: 170px;
    font-size: 24px;
  }
  .cert-flyer .yellow-b {
    font-size: 28px;
  }
  .footer h3 {
    font-size: 28px;
    line-height: 34px;
  }
  .footer h3::after{
    top: 240px;
  }
  .money img {
    width: 250px;
  }
  .money {
    bottom: 5px;
  }
}
@media(max-width: 320px) {
  .about-goods h4 {
    color: red;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    margin: 10px 4px;
  }
  .about-goods p {
    font-style: italic;
    margin: 8px 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  .about-goods h1 {
    font-size: 27px;
    margin-bottom: 0px;
    font-weight: 900;
  }
  .laptop {
    padding: 20px;
  }
  .about-goods span {
    padding: 6px 9px 10px;
    margin-right: 11px;
  }

  .good-arrows {
    padding: 24px 0 0 4px;
  }
  .good-arrows .arr-title {
    font-size: 28px;
    text-align: left;
    margin-bottom: 18px;
  }
  .good-arrows .arr-text {
    padding: 0 0 16px 65px;
    font-size: 18px;
  }
  .good-row .good-arrows .arr-text::before {
    background: url(../images/black-arrow.svg) center no-repeat;
    background-size: contain;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    animation: rightarrow 0.6s infinite alternate ease-in-out;
    width: 24%;
    height: 34px;
  }
  .feedback-title {
    font-size: 24px;
    line-height: 30px;
    padding: 0;
  }
  .feedback-content .name {
    font-size: 28px;
  }
  .feedback-content .position {
    font-size: 18px;
    padding-bottom: 32px;
  }
  .feedback-content .text {
    font-size: 20px;
    line-height: 25px;
  }
  .first, .second {
    margin: 0 auto -1px;
  }
  .third-section h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .third-section h2::after {
    bottom: -2%;
    width: 50%;
    left: 25%;
  }
  .third-section h2::before {
    left: 15%;
    bottom: 0px;
    width: 70%;
  }
  .third-section .good-arrows .arr-text::before {
    left: 9px;
  }
  .good-arrows {
    padding: 24px 5px 5px 4px;
  }
  .circle-check img {
    width: 140px;
    height: 140px;
  }
  .circle-check h4 {
    font-size: 21px;
  }
  .tiles-container {
    width: 90%;
    margin: 0px 17px -32px 17px;
  }
  .tiles .device-title{
    margin: 0;
    line-height: 28px;
  }
  .tiles .device-img img {
    width: 100%;
    margin: 10px;
  }
  .footer .container {
    padding: 40px 5px 40px;
    margin: 0 11px;
    width: 93%;
  }
  .footer h3::after {
    top: 200px;
  }
  .footer span {
    margin: 60px 0;
    font-size: 27px;
  }
  .footer .standard-button {
    margin: 120px auto 16px;
  }
}
